{% load i18n %}
<a href="#" id="member_groups_{{ member_name }}" class="link-popover" rel="popover" tabindex="0" data-trigger="focus" data-content="
<table class='table table-bordered'>
{% if member_groups %}
    {% for group in member_groups %}
        <tr><td>{{ group }}</td></tr>
    {% endfor %}
{% else %}
    <tr><th>Groups list is empty</th></tr>
{% endif %}
</table>
" data-original-title="{% blocktrans %}Member {{ member_name }} groups:">Groups list{% endblocktrans %}</a>
<script type="text/javascript" charset="utf-8">
$(function () {
  var $flavor = $("#member_groups_{{ member_name }}");
  // NOTE(tsufiev): check this in case this template is used in network topology -> terminate instance
  if ( $flavor.popover ) {
    $flavor.popover({html:true});
  }
});
</script>
